@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: url("/assets/rgf.jpg");
    background-repeat: no-repeat;
    background-size: 1200px; 
    max-width: 99vw;
    background-position: 600px 20px;
}
#home {
    height: 60vh;
}

#brand {
    display: inline-block;
}

.headings h1,
.headings h5 {
    margin: 16px 0;
    /* color: white; */
    text-transform: capitalize;
}

.headings {
    font-family: "Courier New", Courier, monospace;
    margin-top: 100px;
    margin-left: -60px;
}

#testimonials img {
    height: 500px;
    object-fit: contain;
}
.change-icon {
}

.help-img {
    position: relative;
}
.help-img .btn {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0);
}
.help-img:hover .btn {
    transition: transform 0.3s linear;
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
}
.help-img:hover img {
    filter: blur(2px);
}
.help-img a {
    padding: 8px;
    color: white;
    text-decoration: none;
}

section > h1,
section > div > h1 {
    display: inline-block;
    background: #2b7fc9;
    color: white;
    padding: 8px;
    /* margin: 16px 0; */
}

.bs {
    padding: 8px;
    box-shadow: 4px 4px 4px rgba(182, 180, 180, 0.344), -1px -1px 4px rgba(126, 126, 126, 0.344);
}

.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
li {
    text-align: justify;
}
.footer {
    background-color: #02091a;
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
